.footer {
  background: linear-gradient(
    88deg,
    #4633ac 0%,
    #1e3588 47.41%,
    #264b93 99.14%
  );
  padding: 100px 0;
}
.footer-content {
  display: flex;
  justify-content: space-between;
}
.footer-logo img {
  width: 266px;
}
ul {
  padding: 0 !important;
}
@media (max-width: 768px) {
  .footer {
    padding: 48px 0;
  }
  .footer-content {
    flex-direction: column;
    gap: 2rem;
  }
}

ul {
  list-style: none;
}
.footer a {
  color: white;
}
.footer-item {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
